@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 100% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 216 100% 81%;
    --primary-foreground: 224 71.4% 10.1%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 9% 46.1%;
    --accent: 8 100% 83%;
    --accent-foreground: 10 79% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 216 100% 81%;
    --radius: 0.75rem;
    --chart-1: 197 37% 24%;
    --chart-2: 173 58% 39%;
    --chart-3: 216 100% 81%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222 71% 10%;
    --foreground: 210 40% 98%;
    --card: 222 71% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222 71% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 216 100% 81%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 217 33% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 8 100% 83%;
    --accent-foreground: 10 79% 40%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 216 100% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
